# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# Upload directories
uploads/
compressed/

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 